.users {
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 10px;

}

.img {
    width: 120px;
    height: 120px;
    object-fit: cover;
}
.selectedPage{
    font-weight: bold;
}
.cursor{
    cursor: pointer;
}
.unfollow{
    background-color: #ee0050;
    cursor: help;
}
.follow{
    background-color: greenyellow;
    cursor: help;
}
.buttonCenter{
    display: flex;
    justify-content: center;
}