.nav {
    background: linear-gradient(#5d0000, #ee0050);
    /*background-color: #ee0050;*/
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.item a  {
    text-decoration: none;
    color: white;
}
.item a.active{
    color: gold;
}